.menubar {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menubar > .menus {
  display: flex;
  gap: 20px;
}

.desktop {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  justify-content: center;
  color: white;
}

.title {
  font-size: 2rem;
}
